{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="card shadow">
            <div class="card-header">
                <h3>Add Your Task</h3>
            </div>
            <div class="card-body">
                <form id="submit-task-form" method="post" action="/api/tasks/">{% csrf_token %}
                    {{ form.as_p }}
                    <input id="submit-task" type="submit" value="Submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="card shadow">
            <div class="card-header">
                <h3>Your Tasks</h3>
            </div>
            <div class="card-body">
                <table id="tasks_list" class="table table-striped">
                    <thead>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Priority</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    {{block.super}}
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                'url': '/api/tasks/',
                'type': 'GET',
                'dataType': 'json',
                success:function(res){
                    $("#tasks_list tbody").append(`
                        ${res.map(function(data){
                            return `<tr>
                                <td>${data.title}</td>
                                <td>${data.description}</td>
                                <td>${data.priority}</td>
                            </tr>`;
                        })}
                    `);
                },
                error:function(res){
                    console.log(res);
                }
            })

            $("#submit-task-form").submit(function(evt){
                evt.preventDefault();
                let formData = new FormData(this);
                $.ajax({
                    'url': evt.target.action,
                    'type': evt.target.method,
                    'data': formData,
                    'dataType': 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        $("#tasks_list tbody").append(`
                            <tr>
                                <td>${res.title}</td>
                                <td>${res.description}</td>
                                <td>${res.priority}</td>
                            </tr>
                        `);
                    },
                    error:function(res){
                        console.log(res)
                    }
                })
            });
        });
    </script>
{% endblock script %}